* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.what-we-do {
  height: auto;
  width: 100%;
}

.what-we-do-intro {
  margin-top: 68px;
  text-align: center;
}

.what-we-do-intro h1 {
  color: #071629;
  font-weight: 600;
  font-size: 32px;
}

.what-we-do-intro p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.part_2_icons {
  margin-top: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;
  max-width: 1003px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.items {
  width: 207px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
}

.items img {
  width: 94.2px;
  height: 65.36px;
}

.items h3 {
  margin-top: 24px;
}

.items p {
  margin-top: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .items {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .items {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
