* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("./fonts/source-sans-pro/SourceSansPro-Semibold.otf");
}

@font-face {
  font-family: "Source Sans Pro Black";
  src: url("./fonts/source-sans-pro/SourceSansPro-Black.otf");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("./fonts/source-sans-pro/SourceSansPro-Light.otf");
}

@font-face {
  font-family: "Source Sans Pro Italic";
  src: url("./fonts/source-sans-pro/SourceSansPro-It.otf");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  width: 80%;
  margin: 0 auto;
  padding: 16px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header nav img {
  width: 160px;
  height: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-family: "Source Sans Pro Bold";
}

main {
  font-family: sans-serif;
}

.banner-section {
  /* background-image: url("./background.png"); */
  background-image: radial-gradient(
      circle,
      rgba(41, 48, 61, 0) 0%,
      rgba(7, 22, 41, 1) 100%
    ),
    url("./background.png");
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 80px;
}

.cta-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.cta-section h1 {
  font-size: 120px;
  font-family: "Source Sans Pro Bold";
}

.cta-emotions {
  display: flex;
  gap: 16px;
  font-family: "Source Sans Pro Bold";
}

.cta-section button {
  width: fit-content;
  background-color: #c271ff;
  height: 44px;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
  font-family: "Source Sans Pro Semibold";
}

.pros-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.pros-section h2 strong {
  color: #c271ff;
  font-family: "Source Sans Pro Bold";
}

.pros-section h2 {
  font-family: "Source Sans Pro Light";
}

.pros-section h3 {
  font-family: "Source Sans Pro Black";
}

.pros-section p {
  font-family: "Source Sans Pro Italic";
}

.pros {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.pros img {
  width: 100px;
  height: 100px;
}

.pros h3 {
  font-size: 18px;
}

.pros p {
  font-size: 16px;
}

.pro-1,
.pro-2,
.pro-3,
.pro-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quotes-section {
  background-color: #c271ff;
  color: white;
  padding: 48px 0;
}

.quotes-background {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.quotes-image img {
  width: 160px;
  height: 160px;
}

.quotes-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quotes-details blockquote {
  font-family: "Source Sans Pro Regular";
}

.quotes-details h3 {
  font-family: "Source Sans Pro Bold";
}

.quotes-details p {
  font-family: "Source Sans Pro Italic";
}

.tutorials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
}

.tutorials-section h2 {
  font-family: "Source Sans Pro Light";
}

.tutorials-section h2 strong {
  font-family: "Source Sans Pro Bold";
  color: #c271ff;
}

.popular-tutorials {
  display: flex;
  gap: 48px;
}

.popular-tutorials > div {
  width: 254px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popular-tutorials > div > h3 {
  font-family: "Source Sans Pro Bold";
}

.popular-tutorials > div > p {
  font-family: "Source Sans Pro Regular";
}

.popular-tutorials > div > img {
  width: 254px;
  height: 154px;
}

.tutor {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
}

.ratings p {
  font-family: "Source Sans Pro Semibold";
  color: #c271ff;
}

.fa-solid,
.fa-star {
  color: #c271ff;
}

.popular-tutorials img {
  width: 30px;
  height: 30px;
}

.popular-tutorials h4 {
  font-family: "Source Sans Pro Semibold";
  color: #c271ff;
}

.membership-section {
  background-color: #071629;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 48px;
}

.membership-section h2 {
  font-size: 32px;
  font-family: "Source Sans Pro Light";
}

.membership-section h2 strong {
  font-family: "Source Sans Pro Bold";
  color: #c271ff;
}

.memberships {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.memberships h3 {
  font-size: 18px;
  font-family: "Source Sans Pro Semibold";
}

.memberships p {
  font-size: 14px;
  text-align: center;
  font-family: "Source Sans Pro Regular";
}

.memberships div {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.membership-section button {
  width: fit-content;
  background-color: #c271ff;
  height: 44px;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
  font-family: "Source Sans Pro Semibold";
}
